{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}

        <div class="header-intro theme-bg-primary text-white py-5">
	        <div class="container">
		        <h2 class="page-heading mb-0">Contact</h2>
				<p>
					{{ verzonden }}
				</p>
	        </div><!--//container-->
        </div><!--//header-intro-->

    </header><!--//header-->

    <section class="section py-5">
        <div class="container">
            <div class="row">
		        <div class="contact-intro col-lg-8 mx-lg-auto mb-5 text-center">

			        <img class="profile-small d-inline-block mx-auto rounded-circle mb-3" src="{% static "portfolio/assets/images/profile.jpg" %}" alt="">

			        <div class="speech-bubble bg-white p-4 p-lg-5 shadow-sm">
				        <p class="text-center mb-3">
				        	Momenteel beschikbaar voor werk.
				        </p>
				        <p class="text-left mb-3">
				        	Vul onderstaande formulier in of stuur mij een mailtje op: <a href="mailto:a.thakoerdien@gmail.com" target="_blank">a.thakoerdien@gmail.com</a>.<br>
				        	Bekijk ook  mijn <a href="#">portfolio projecten</a> en <a href="{% static "portfolio/cv_adjay_thakoerdien_2020_08.pdf" %}" target="_blank">CV</a> om te zien wat ik voor jouw project kan betekenen.
				        </p>
				        <h6 class="font-weight-bold text-center mb-3">Je kunt me ook vinden op:</h6>

				        <ul class="social-list-color list-inline mb-0">
<!--				            <li class="list-inline-item mb-3"><a class="twitter" href="#"><i class="fab fa-twitter fa-fw"></i></a></li>-->

			                <li class="list-inline-item mb-3"><a class="linkedin" href="https://www.linkedin.com/in/adjaythakoerdien/" target="_blank"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
			                <li class="list-inline-item mb-3"><a class="github" href="https://github.com/adjaythakoerdien" target="_blank"><i class="fab fa-github-alt fa-fw"></i></a></li>
			                <li class="list-inline-item mb-3"><a class="instagram" href="https://www.instagram.com/adjaythakoerdien/" target="_blank"><i class="fab fa-instagram fa-fw"></i></a></li>
			                <li class="list-inline-item mb-3"><a class="facebook" href="https://www.facebook.com/adjaythakoerdien" target="_blank"><i class="fab fa-facebook fa-fw"></i></a></li>
			                <!--<li class="list-inline-item mb-3"><a class="facebook" href="#"><i class="fab fa-facebook-f fa-fw"></i></a></li>-->

			                <!--<li class="list-inline-item"><a class="instagram" href="#"><i class="fab fa-instagram fa-fw"></i></a></li>-->
			            </ul><!--//social-list-->
			        </div>

		        </div><!--//contact-intro-->
		        <form id="contact-form" class="contact-form col-lg-8 mx-lg-auto" method="POST" action="{% url 'send_mail' %}">
					{% csrf_token %}
			        <h3 class="text-center mb-3"></h3>
			         <div class="form-row">
		                <div class="form-group col-md-6">
		                    <label class="sr-only" for="cname">Name</label>
		                    <input type="text" class="form-control" id="cname" name="name" placeholder="Naam" minlength="2" required="" aria-required="true">
		                </div>
		                <div class="form-group col-md-6">
		                    <label class="sr-only" for="cemail">Email</label>
		                    <input type="email" class="form-control" id="cemail" name="email" placeholder="Email" required="" aria-required="true">
		                </div>
		                <div class="form-group col-12">
		                    <label class="sr-only" for="cmessage">Je berichtje</label>
		                    <textarea class="form-control" id="cmessage" name="message" placeholder="Typ hier je bericht" rows="10" required="" aria-required="true"></textarea>
		                </div>
		                 <div class="form-group col-12">
		                    <button type="submit" class="btn btn-block btn-primary py-2">Stuur berichtje</button>
		                </div>
		            </div>
		        </form>

            </div><!--//row-->
        </div><!--//container-->
    </section><!--//section-->



    <!-- <footer class="footer text-light text-center py-2">
	    <small class="copyright">Template Copyright &copy; <a class="text-light" href="https://themes.3rdwavemedia.com/" target="_blank">3rd Wave Media</a></small>
    </footer> -->




    <!-- Javascript -->
    <script type="text/javascript" src="{% static "portfolio/assets/plugins/jquery-3.4.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "portfolio/assets/plugins/popper.min.js" %}"></script>
    <script type="text/javascript" src="{% static "portfolio/assets/plugins/bootstrap/js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "portfolio/assets/plugins/back-to-top.js" %}"></script>


    <!--Page Specific JS -->
    <script type="text/javascript" src="{% static "portfolio/assets/plugins/jquery-validation/jquery.validate.min.js" %}"></script>

    <!-- Custom JS -->
    <script type="text/javascript" src="{% static "portfolio/assets/js/main.js" %}"></script>
    <script type="text/javascript" src="{% static "portfolio/assets/js/form.js" %}"></script>

{% endblock %}


</body>
</html>
