

{% load static %}

<html lang="en">
<head>
    <title>Adjay Thakoerdien</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Adjay Thakoerdien">
    <meta name="author" content="Adjay Thakoerdien">
    <link rel="shortcut icon" href="{% static "portfolio/Logo.png" %}">

    <!-- Google Font -->
    <link href='//fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- FontAwesome JS -->
    <script defer src="{% static "portfolio/assets/fontawesome/js/all.js" %}"></script>

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static "portfolio/assets/plugins/flickity/flickity.min.css" %}">


    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="{% static "portfolio/assets/css/theme-1.css" %}">

</head>

<body>

    <header class="header">

        <div class="top-bar theme-bg-primary-darken">

            <div class="container-fluid">

				<nav class="navbar navbar-expand-lg navbar-dark position-relative">


					<ul class="social-list list-inline mb-0">
			            <!-- <li class="list-inline-item"><a class="text-white" href="#"><i class="fab fa-twitter fa-fw"></i></a></li> -->
		                <li class="list-inline-item"><a class="text-white" href="https://www.linkedin.com/in/adjaythakoerdien/" target="_blank"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
		                <li class="list-inline-item"><a class="text-white" href="https://github.com/adjaythakoerdien" target="_blank"><i class="fab fa-github-alt fa-fw"></i></a></li>
		                <li class="list-inline-item"><a class="text-white" href="https://www.instagram.com/adjaythakoerdien/" target="_blank"><i class="fab fa-instagram fa-fw"></i></a></li>
                    <li class="list-inline-item"><a class="text-white" href="https://www.facebook.com/adjaythakoerdien" target="_blank"><i class="fab fa-facebook fa-fw"></i></a></li>
		            </ul><!--//social-list-->


					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse text-uppercase" id="navigation">
						<ul class="navbar-nav ml-lg-auto">
              <li class="nav-item mr-lg-3">
							    <a class="nav-link" href="{% url 'home' %} " >About </a>
							</li>
							<!-- <li class="nav-item mr-lg-3">
							   <a class="nav-link" href="projects.html">Projects</a>
							</li> -->
							<!-- <li class="nav-item mr-lg-3">
							    <a class="nav-link" href="talks.html">Talks</a>
							</li> -->
              <li class="nav-item active mr-lg-3">
							    <a class="nav-link" href="{% url 'blog:all_blogs' %}">Blog <span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item mr-lg-3">
							    <a class="nav-link" href="{% static "portfolio/cv_adjay_thakoerdien.pdf" %}" target="_blank">Resume</a>
							</li>
							<li class="nav-item mr-lg-3">
							    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
							</li>
							<!-- <li class="nav-item mr-lg-3">
							    <a class="nav-link" href="contact.html">Contact</a>
							</li> -->
							<!-- <li class="nav-item dropdown mr-0">
							    <a class="nav-link dropdown-toggle" href="#" id="navigationLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Pages
								</a>
								<div class="dropdown-menu dropdown-menu-right text-capitalize shadow-lg" aria-labelledby="navigationLink">
									<a class="dropdown-item" href="project.html">Project Case Study (1 Column)</a>
									<a class="dropdown-item" href="project-alt.html">Project Case Study (2 Columns)</a>
									<a class="dropdown-item" href="blog-post.html">Blog Post</a>
								</div>
							</li> -->

						</ul>
						<span id="slide-line"></span>
					</div>



				</nav>

            </div><!--//container-->

        </div><!--//top-bar-->


        <div class="header-intro theme-bg-primary text-white py-5">
	        <div class="container position-relative">
		        <div class="media flex-column flex-md-row">
              <img class="profile-image mb-3 mb-md-0 mr-md-5 ml-md-0 rounded mx-auto" src="{% static "portfolio/assets/images/profile.jpg" %}" alt="">
			        <div class="media-body align-self-center">
			            <h2 class="page-heading mb-2">Adjay Thakoerdien's Blog</h2>
			            <div class="page-heading-tagline mb-3">I write about web development and my life as a developer. <br class="d-lg-block d-none">You can follow me via the various channels below:</div>
			            <ul class="social-list-square list-inline mb-0">
			                <li class="list-inline-item mb-3 mb-lg-0"><a href="https://www.linkedin.com/in/adjaythakoerdien/" target="_blank"><i class="fab fa-linkedin-in fa-fw text-white"></i></a></li>
			                <li class="list-inline-item mb-3 mb-lg-0"><a href="https://github.com/adjaythakoerdien" target="_blank"><i class="fab fa-github-alt fa-fw text-white"></i></a></li>
			                <li class="list-inline-item mb-3 mb-lg-0"><a href="https://www.instagram.com/adjaythakoerdien/" target="_blank"><i class="fab fa-instagram fa-fw text-white"></i></a></li>
			                <li class="list-inline-item mb-3 mb-lg-0"><a href="https://www.facebook.com/adjaythakoerdien" target="_blank"><i class="fab fa-facebook fa-fw text-white"></i></a></li>


			            </ul><!--//social-list-->
			        </div>
		        </div>


	        </div><!--//container-->
        </div><!--//header-intro-->

    </header><!--//header-->

    <section class="section pt-5">
        <div class="container blog-cards">

	        <div class="row">
<!--		        <div class="col-12">-->
<!--			        <div class="featured-card d-md-table card rounded-0 border-0 shadow-sm mb-5">-->
<!--						<div class="featured-card-image card-img-container position-relative d-md-table-cell">-->
<!--												        <img class="card-img-top rounded-0" src="{% static "portfolio/assets/images/blog/blog-post-thumb-2.jpg" %}" alt="">-->

<!--						    <span class="badge badge-success mb-2 position-absolute">Featured</span>-->
<!--						    <div class="card-img-overlay overlay-mask text-center p-0">-->
<!--						        <a class="overlay-mask-link position-absolute w-100 h-100" href="{% url 'blog:detail' laatsteblog.id %}"></a>-->
<!--							</div>-->
<!--						</div>-->
<!--						<div class="featured-card-body card-body d-md-table-cell  pb-4">-->

<!--							<h4 class="card-title mb-2"><a href="{% url 'blog:detail' laatsteblog.id %}">{{ laatsteblog.title }}</a></h4>-->
<!--							<div class="card-text">-->
<!--								<div class="excerpt mb-3"> {{ laatsteblog.description|striptags|truncatechars:170 }} </div>-->
<!--								<a class="btn btn-primary d-none d-md-inline-block" href="{% url 'blog:detail' laatsteblog.id %}">Read more</a>-->
<!--							</div>-->
<!--						</div>-->
<!--						<div class="card-footer border-0 d-md-none">-->
<!--							<ul class="meta list-inline mb-0">-->
<!--								<li class="list-inline-item mr-3"><i class="far fa-clock mr-2"></i>{{ laatsteblog.date }}</li>-->
<!--							</ul>-->
<!--						</div>-->
<!--				    </div>&lt;!&ndash;//card&ndash;&gt;-->
<!--		        </div>-->


            {% for blog in blogs %}


		        <div class="col-12 col-md-6 col-lg-4 mb-5">
			        <div class="card rounded-0 border-0 shadow-sm eq-height">
						<div class="card-img-container position-relative">
					        <img class="card-img-top rounded-0" src="{% static "portfolio/assets/images/blog/blog-post-thumb-2.jpg" %}" alt="">
					        <div class="card-img-overlay overlay-mask text-center p-0">
						        <div class="overlay-mask-content text-center w-100 position-absolute">
								    <a class="btn btn-primary" href="{% url 'blog:detail' blog.id %}">Read more</a>
						        </div>
						        <a class="overlay-mask-link position-absolute w-100 h-100" href="{% url 'blog:detail' blog.id %}"></a>
							</div>
						</div>
						<div class="card-body pb-4">

							<h4 class="card-title mb-2"><a href="{% url 'blog:detail' blog.id %}">{{ blog.title }}</a></h4>
							<div class="card-text">

								<div class="excerpt"> {{ blog.description|striptags|truncatechars:150 }} </div>
							</div>

						</div>
						<div class="card-footer border-0">
							<ul class="meta list-inline mb-0">
								<li class="list-inline-item mr-3"><i class="far fa-clock mr-2"></i>{{ blog.date }}</li>
							</ul>
						</div>
				    </div><!--//card-->
		        </div>

            {% endfor %}




<!--		        <div class="col-12 mb-5">-->
<!--			        <a class="btn-blog-more btn btn-primary btn-block text-white font-weight-bold">Load more posts...</a>-->
<!--		        </div>-->

	        </div>
        </div><!--//container-->
    </section><!--//section-->


	<section class="section py-5 bg-primary text-white">
		<div class="container">
			<div class="text-center">
			    <img class="profile-small d-inline-block mx-auto rounded-circle mb-2" src="{% static "portfolio/assets/images/profile.jpg" %}" alt="">
		    </div>
		    <h3 class="section-title font-weight-bold text-center mb-2">Interested in hiring me for your project?</h3>
		    <div class="section-intro mx-auto text-center mb-3">
			    Looking for an experienced full-stack developer to build your web app or ship your software product? To start an initial chat, just drop me an email at <a class="link-on-bg" href="mailto:a.thakoerdien@gmail.com">a.thakoerdien@gmail.com</a> or use the <a class="link-on-bg" href="{% url 'contact' %}">form on the contact page</a>.
		    </div>
		    <div class="text-center">
		        <a class="theme-btn-on-bg btn" href="{% url 'contact' %}">Let's Talk</a>
		    </div>
		</div><!--//container-->
	</section>






    <!-- Javascript -->
    <script type="text/javascript" src="{% static "portfolio/assets/plugins/jquery-3.4.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "portfolio/assets/plugins/popper.min.js" %}"></script>
    <script type="text/javascript" src="{% static "portfolio/assets/plugins/bootstrap/js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "portfolio/assets/plugins/back-to-top.js" %}"></script>

    <!-- Custom JS -->
    <script type="text/javascript" src="{% static "portfolio/assets/js/main.js" %}"></script>



</body>
</html>
