{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}








        <div class="header-intro theme-bg-primary text-white py-5">
	        <div class="container text-center">

		        <h2 class="page-heading mb-1">{{ blog.title }}</h2>
		        <img class="profile-small d-inline-block rounded-circle mb-3" src="{% static "portfolio/assets/images/profile.jpg" %}" alt="">
		        <ul class="page-heading-post-meta list-inline mb-0">
					<li class="list-inline-item mr-3"><i class="far fa-clock mr-2"></i>{{ blog.date }}</li>
				</ul>
	        </div><!--//container-->
        </div><!--//header-intro-->

    </header><!--//header-->

    <section class="single-post-wrapper single-col-max-width py-5 px-4 mx-auto">
	        <div class="section-row">
		        <div class="cover-image mb-4">
					<img class="img-fluid" src="{% static "portfolio/assets/images/blog/blog-post-thumb-1.jpg" %}" alt="">
				</div>

				{{ blog.description|safe }}

	        </div><!--//section-row-->


<!--	        <nav class="post-nav d-flex justify-content-between">-->
			<nav>
<!--				<div class="nav-previous"><a href="#" rel="prev"><i class="fas fa-long-arrow-alt-left mr-1"></i>Previous <span class="d-none d-md-inline">Post</span></a></div>-->
<!--				<div class="nav-next"><a href="#" rel="next">Next <span class="d-none d-md-inline">Post</span><i class="fas fa-long-arrow-alt-right ml-1"></i></a></div>-->
					<div class="text-center">
						<a class="btn btn-primary" href="{% url 'blog:all_blogs' %}">View all posts</a>
					</div>
			</nav>






	        <div id="comments-block" class="comments-block">




    </section><!--//single-post-wrapper-->





	<section class="section py-5 bg-primary text-white">
		<div class="container">
			<div class="text-center">
			    <img class="profile-small d-inline-block mx-auto rounded-circle mb-2" src="{% static "portfolio/assets/images/profile.jpg" %}" alt="">
		    </div>
		    <h3 class="section-title font-weight-bold text-center mb-2">Interested in hiring me for your project?</h3>
		    <div class="section-intro mx-auto text-center mb-3">
			    Looking for an experienced full-stack developer to build your web app or ship your software product? To start an initial chat, just drop me an email at <a class="link-on-bg" href="mailto:a.thakoerdien@gmail.com">a.thakoerdien@gmail.com</a> or use the <a class="link-on-bg" href="{% url 'contact' %}">form on the contact page</a>.
		    </div>
		    <div class="text-center">
		        <a class="theme-btn-on-bg btn" href="{% url 'contact' %}">Let's Talk</a>
		    </div>
		</div><!--//container-->
	</section>



    <!-- <footer class="footer text-light text-center py-2">
	    <small class="copyright">Template Copyright &copy; <a class="text-light" href="https://themes.3rdwavemedia.com/" target="_blank">3rd Wave Media</a></small>
    </footer> -->

    <!--//add jquery social share bar (configure your channels in js)-->
    <div id="share-bar"></div>




    <!-- Javascript -->
    <script type="text/javascript" src="{% static "portfolio/assets/plugins/jquery-3.4.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "portfolio/assets/plugins/popper.min.js" %}"></script>
    <script type="text/javascript" src="{% static "portfolio/assets/plugins/bootstrap/js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "portfolio/assets/plugins/back-to-top.js" %}"></script>

    <!--Page Specific JS -->
    <script type="text/javascript" src="{% static "portfolio/assets/plugins/highlight/highlight.pack.js" %}"></script>
<!--    <script type="text/javascript" src="{% static "portfolio/assets/plugins/jquery-social-share-bar/js/jquery-social-share-bar.js" %}"></script>-->

    <!-- Custom JS -->
    <script type="text/javascript" src="{% static "portfolio/assets/js/main.js" %}"></script>
    <script type="text/javascript" src="{% static "portfolio/assets/js/code-highlight.js" %}"></script>
    <script type="text/javascript" src="{% static "portfolio/assets/js/social-share-bar.js" %}"></script>


{% endblock %}

</body>
</html>
