{% extends "todo/base.html" %}

{% block content %}
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">

                <h1>Gewoon Todos!</h1>
                <p>
                    Het leven is al druk genoeg. 
                </p>
                <p>
                    Er zijn DUIZENDEN dingen die je kunt doen.
                    Maar waar het om gaan is <u>wat</u> je doet.
                </p>
                <p>
                    Daarom heb ik <b><i>Todo!</i></b> gecreeerd.
                </p>
                <p>    
                    Leef het leven dat jij wilt. 
                </p>
                <p>
                    Je nieuwe georganiseerde leven begint hier!
                </p>
        <a role="button" class="btn btn-primary btn-lg" href="{% url 'todo:signupuser' %}">Start</a>
        </div>
    </div>

{% endblock %}
